.nav {
  display: flex;
  justify-content: space-between;
}
.nav h1 {
  color: hotpink;
  margin: 0;
  font-size: 35px;
}
.nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  padding-left: 15px;
  padding-top: 15px;
}
.nav li a {
  text-decoration: none;
  color: hotpink;
}
.nav .nav-search input {
  flex: 1;
  color: hotpink;
  border: 1px solid hotpink;
  height: 35px;
  border-right: none;
  padding-left: 8px;
}
.nav .nav-search button {
  color: hotpink;
  border: 1px solid hotpink;
  height: 39px;
  border-left: none;
}
.nav .nav-search {
  margin-top: 5px;
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
