<div class="seller-auth">
  <div class="sign-up">
    <h1>Seller Sign-Up</h1>
    <form
      #sellerform="ngForm"
      (ngSubmit)="signup(sellerform.value)"
      class="common-form"
    >
      <input
        class="form-input"
        ngModel
        name="name"
        type="text"
        placeholder="Enter name"
      />
      <input
        class="form-input"
        ngModel
        name="email"
        type="text"
        placeholder="Enter Email"
      />
      <input
        class="form-input"
        ngModel
        name="password"
        type="password"
        placeholder="Enter Password"
      />
      <button class="form-button">Sign Up</button>
    </form>
  </div>
</div>
